<div class="container">
  <div class="card-category" style="background-image: linear-gradient(#181D31);">
    Transportations
  </div>
    <div class="grid-container">
      <% @transportations.each do |transportation| %>
        <div class="card-trip img-thumbnail">
          <% if transportation.photos.attached? %>
            <%= cl_image_tag(transportation.photos.first.key, :gravity=>"cld-decompose_tile", :crop=>"crop") %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <p><strong>Brand: </strong><%= link_to transportation.brand, transportation_path(transportation.id)%></p>
              <p><strong>Model: </strong><%= transportation.brand_model %></p>
              <%# <p>Price: <%= transportation.price %>
            </div>
            <h2 class="card-trip-pricing"><%= "R$#{transportation.price}" %></h2>
              <% if transportation.user.photo.attached? %>
                <%= cl_image_tag transportation.user.photo.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img src="https://w7.pngwing.com/pngs/754/2/png-transparent-samsung-galaxy-a8-a8-user-login-telephone-avatar-pawn-blue-angle-sphere-thumbnail.png" class="card-trip-user avatar-bordered" />
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to "Add transportation", new_transportation_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>

<%# <div class="container"> %>
  <%# <%= link_to new_transportation_path do %>
    <%# <a class="btn btn-flat" href="transportations/new">New transportation</a> %>
  <%# <% end %>
<%# </div> %>

<%# //////////////////////////FOOTER////////////////////////// %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     <i class="fas fa-heart"></i>
  </div>
</div>
