<div class="container">
  <h1>Info of Transportation</h1>
    <div class="card-trip">
        <% if @transportation.photo.attached? %>
          <%= cl_image_tag(@transportation.photo.key, crop: :fill) %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>
      <div class="card-trip-infos">
        <div>
          <p>Brand: <%= @transportation.brand %></p>
          <p>Model: <%= @transportation.brand_model %></p>
          <p>Price: <%= @transportation.price %></p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <%= link_to "New reservation", new_transportation_reservation_path(@transportation) %>

    <%= link_to "Edit transportation", edit_transportation_path %>

    <%= link_to "Remove this transportation", delete_transportation_path(@transportation.id),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

    <%= link_to "Back to list", transportations_path %>
</div>
