<h1>Reservations</h1>
<% @reservations.each do |reservation| %>
  <h3><%= link_to "Reservation", reservation_path(reservation.id) %></h3>
  <p>Start date: <%= reservation.start_date %></p>
  <p>End date: <%= reservation.end_date %></p>
  <p>User: <%= reservation.user_id %></p>
  <p>Transportation: <%= reservation.transportation_id %></p>
  <p>Total price: <%= reservation.total_price %></p>
<% end %>
<%= link_to root_path do %>
  <i class="fa-solid fa-house"></i>
<% end %>
<%# <%= link_to "Back", root_path if policy(Reservation).new? %>

<%# /////////////////////////////////////////////////// %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     <i class="fas fa-heart"></i>
  </div>
</div>

