<h1>New reservation:</h1>
<%= simple_form_for [@transportation, @reservation] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :total_price %>
  <%= f.button :submit %>
<% end %>
<%= link_to transportation_reservations_path do %>
  <i class="fa-solid fa-house"></i>
<% end %>
