<h1>New reservation:</h1>
<%= simple_form_for @reservation do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>
<%= link_to reservations_path do %>
  <i class="fa-solid fa-house"></i>
<% end %>
